<!DOCTYPE html>
<html lang="ja">
<head>
  <%= render 'shared/head' %>
  <title>schedule/show</title>
</head>
<body>
  <div>
  <p>
    <%= @schedule.start_time %>〜<%= @schedule.end_time %>
  </p>
  </div>
</body>
</html>