body {
	margin: 100px;
}
img {
	width:50% ;
}
.movies_item {
	display: flex;
	flex-wrap: wrap;
}
.movies_data {
	margin: 10px auto;
	border: solid gray;
	height: 15%;
	width: 30%;
	text-align: center;
	padding: 20px 0 0;
}

.form {
	margin-bottom: 10px;
}
.search {
	text-align: center;
	#movie_search {
		width: 50%;
		height: 30px;
		margin-right: 5px;
	}
	.check_box {
		text-align: right;
	}
}
.radio {
	text-align: right;
	width: 80%;
	margin-bottom: 10px;	
}

.radio_button {
	display: inline-block;
	margin-right: 20px;
}

.reservation {
	padding: 10px;
	text-align: center;
}